.btn {
  .f-btn();
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: @btn-text-color;
  background-color: @btn-bg;
  border: 2px solid @btn-bd;

  &:hover {
    background-color: @btn-bg-2;
    transition-duration: 0.45s;
  }

}