.main-nav {
  background-color: @grey-menu;
  flex: 1;
  text-align: left;

  @media (min-width: @screen-sm) and (max-width: @max-tablet) {

  }

  @media (min-width: @screen-md) {

  }

  &__nav {
    background-color: @grey-menu;
  }

  &__list {
    background-color: @grey-menu;
    width: 100%;
    top: 16px;
  }

  &__item {
    list-style-type: none;
    border: none;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  &__link {
    .f-subtext();
    text-decoration: none;
    color: @grey-lightest;
    display: block;
    text-align: center;
    padding: 14px;
    transition: color .3s ease;
    position: relative;

      &:visited {
        color: @grey-lightest;
      }
      
      &:hover {
        color: @white;
      }

      &:active{
        color: @white;
      }
  }

  &__toggle {
    display: none;
  }

}