.page-header {
  background-color: @grey-menu;
  color: @grey-lightest;

  &__inner {
      .container();
      padding-bottom: 10px;
      padding-top: 10px;
      width: 1170px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
  }

  &__socials {
    display: none;

    @media (min-width: @screen-sm) and (max-width: @max-tablet) {
      display: none;
    }

    @media (min-width: @screen-md) {
      display: inline-flex;
    }
  }

  &__socials-link {
    display: inline-flex;
    margin: 0 10px;
    color: @grey-lightest;
      &:hover {
        .icon {
          fill: @white;
        }
      }
    }

  }


