.post {
  background-color: @grey-lighten;
  margin-bottom: 30px;
  display: flex;

  &__link {
    text-decoration: none;
    color: @grey;
  }

  &__img-wrapper {

  }

  &__img {
    display: block;
  }

  &__inner {
    padding: 30px 35px 43px;
  }

  &__title {
    .f-h2();
    text-align: center;
    color: @grey;
  }

  &__text {
    .f-base();
    color: @grey;
  }

  &__footer {
    margin-top: 24px;
    display: flex;
  }

  &__date-day {
    .f-subtext-mini();
    color: @grey-lightest;
    flex: 1;
  }

  &__comments {
    .f-subtext-mini();
    color: @grey-lightest;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
      color: @grey;
    }
  }
}